[alias]
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    co = checkout
    st = status -uno
    br = branch
[user]
    email = roman.zinich@expertek.ru
    name = Roman Zinich
